.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  width: 952px;
}
.formContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.listInput {
  max-width: 204px;
}
.bottomButtons {
  width: 100%;
}
.topButtons {
  width: 175px;
  white-space: nowrap;
}
.listContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 12px;
}
.listCircleContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
