.panel {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  gap: 80px;
}

.panel__group {
  display: flex;
  min-width: 630px;
  border: none;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.results {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 78px 0 40px;
  gap: 16px;
}
