.container {
    max-width: 600px;
    display: grid;
    grid-template-columns: 377px 178px 108px 119px;
    margin: 0 auto;
    column-gap: 12px;
    justify-content: center;
}

.circles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    gap: 16px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 48px;
    row-gap: 48px;
}

.cleanButton {
    margin-left: 80px;
}
