.inputContainer {
    max-width: 522px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.inputContainer__input {
    max-width: 377px;
}

.fibonacciContainer {
    display: flex;
    column-gap: 16px;
    row-gap: 78px;
    padding: 0;
    margin: 48px auto 0 auto;
    max-width: 944px;
    width: 100%;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}
