.content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 6px;
}