.manageBar {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 60px;
    width: 980px;
}

.radioInputsWrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 221px;
}

.sortingButtonsWrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 430px;
}

.createArrayButtonWrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonWrapper {
    box-sizing: border-box;
    min-width: 205px;
}

.buttonWrapper_big {
    min-width: 213px;
}

.sortingList {
    box-sizing: border-box;
    margin: 48px auto 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.listItem {
    margin: 0 10px 0 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.listItem:last-child {
    margin-right: 0;
}