.controlsContainer {
  max-width: 924px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button {
  /* flex-basis: 220px; */
}

.lastButton {
  margin-left: auto;
}

.columnsContainer {
  display: flex;
  justify-content: center;
  align-items: end;
}