.formContent {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  gap: 50px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.formContentContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}
